<h1><%= t 'navigation.signup' %></h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2> <%= t :x_error_messages, :count => @user.errors.count %></h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>  
  <div class="field">
    <%= label_tag :signup_code, t('misc.signup_code') %><br />
    <%= text_field_tag :signup_code %><br />
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to t('navigation.back'), :back %>
